/* li {
    background-color: #f4f4f4;
} */

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

li:hover {
    cursor: pointer;
    box-shadow: 1px 4px 5px 0px #e2e2e2;
    transform: translateZ(10px);
}

li.selected {
    cursor: pointer;
    box-shadow: 1px 4px 5px 0px #e2e2e2;
    transform: translateZ(10px);
}

.card-body {
    text-align: center;
}

.display-6 {
    font-size: medium;
}

.card-text {
    font-size: x-small;
    color: #92b0c3;
}

.list-group {
    max-height: 430px;
    overflow-y: auto;
    
}

.photo {
    width: 60px;
}

.detail {
    padding-right: 10%;
    padding-top: 30%;
}

.img-container{
    display:inline-block;
    position:relative;
}

.img-container .img-content{
    position: absolute;
    bottom: 1.15em;
    right: 2.5em;
    padding-top: 0%;
    padding-bottom: 0%;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 50%;
}


p {
    font-size: xx-small;
    color: #539ac9;
}

@media(min-width: 1700px) {
    .img-container .img-content{
        bottom: 1.15em;
        right: 2.8em;
        width: 35px;
    }

    .detail {
        padding-right: 5%;
        padding-top: 25%;
    }
}

@media(min-width: 2000px) {
    .img-container .img-content{
        bottom: 1em;
        right: 2.8em;
        width: 35px;
    }

    .detail {
        padding-right: 0%;
        padding-top: 20%;    
    }
}